* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

*::-webkit-scrollbar {
    /* color: black; */
    width: 10px;
    height: 10px;
    border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
    /* color: black; */
    height: 10px;
    background-color: black;
    border-radius: 40px;

}

html,
body {
    width: 100%;
    height: 100%;
}

*::selection {
    background-color: white;
    color: rgb(0, 0, 0);
}

#main {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0.1px;
    /* background-color: lightskyblue; */
}

#nav {
    height: 15vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#nav h1 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monument;
    font-size: 40px;
    letter-spacing: -1px;

}

#nav h1::after {
    content: "©";
    font-size: small;
    position: absolute;
    top: 30%;
    left: 17%;
    font-weight: 500;
}

#nav h2 {
    /* background-color: blue; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 23px;
    font-weight: 600;

}

#nav h2:nth-last-child(1) {
    width: 10%;
}

#nav h2:nth-last-child(2) {
    width: 30%;
}

#center {
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 5vw;
    position: relative;
}

#content {
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: blue; */

}

#content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2vw;
    /* background-color: red; */
}

#over-1 {
    display: flex;
    justify-content: space-between;
}

#over-1 h2 {
    font-size: 2.5vw;
    font-family: monument;
    color: white;

}

#overlay h3 {
    margin-top: 10px;
    color: white;
    font-weight: 500;
}

#over-1 h3 {
    height: 60px;
    width: 60px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#over-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#over-2 img {
    width: 50px;
    height: 50px;
}

#scroll {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 10vh;
}

#scroll img {
    /* display: none; */
    height: 100%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: 1vw;
}

#container {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes anime {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-100%);
    }

}

#alphabet {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 3vh;
}

#alphabet h5 {
    font-size: 2vw;
    font-style: italic;
    border-bottom: 2px solid black;
    font-weight: 400;
}

#alphabet h6 {
    font-size: 0.8vw;
    padding: 3px 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease 0.2s;
    cursor: pointer;
}

#alphabet h6:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}

#page2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #000; */
    padding: 2vw 5vw;
    position: relative;
    margin-bottom: 10vh;
}

#page2-part1 {
    height: 100%;
    width: 60%;
    background-image: url(https://images.unsplash.com/photo-1622262792665-e370938db886?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#page2-part1 h2 {
    position: absolute;
    top: 7%;
    left: 7%;
    font-size: 2vw;
    font-family: monument;
    text-transform: uppercase;
    border-bottom: 2px solid #474747;
    font-style: italic;
    color: #474747;
}

#page2-part2 p {
    position: absolute;
    bottom: 3%;
    font-weight: 600;
    font-size: 1.3vw;
}

#page2-part2 p:nth-last-child(1) {
    position: absolute;
    bottom: 4%;
    font-weight: 400;
    font-size: 1.1vw;
    text-align: start;
    width: 20%;
    left: 75%;
}

#page2-part2 {
    height: 82%;
    width: 35%;
    background-image: url(https://images.unsplash.com/photo-1519058082700-08a0b56da9b4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG1vZGVsJTIwcG9ydHJhaXQlMjBtYWxlfGVufDB8fDB8fHww);
    background-size: cover;
    background-position: top;
    margin-top: -8.5%;
}

#page3 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
}

#cicular-text {
    width: 50%;
    height: 100%;
}

#circular-text img:nth-child(1) {
    width: 18vw;
    left: 12vw;
    top: 21vh;
    position: absolute;
    z-index: -1;
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

#circular-text img:nth-child(2) {
    width: 6vw;
    left: 18vw;
    top: 34vh;
    position: absolute;
}

#page3-part2 {
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1622519407650-3df9883f76a5?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    margin-left: 37vw;
    background-size: cover;
    /* border-radius: 15px; */
}

#page4 {
    width: 100%;
    height: 90%;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

#page4 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#updates {
    width: 100%;
    height: 100%;
    padding: 3vw 5vw;

}

#updates>h1 {
    font-family: monument;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 8vh;

}

.elem {
    height: 16vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.elem>h4 {
    font-size: 2vh;
    width: 1vw;
    text-transform: uppercase;
}

.elem-part2 {
    width: 50%;
}

.elem:nth-last-child(1) {
    border-bottom: 2px solid black;
}

.elem img {
    position: absolute;
    width: 7vw;
    height: 15vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    left: 15%;
    opacity: 0;
    transition: all ease 0.5s;
}

.elem:hover img {
    opacity: 1;
    left: 30%;
    transform: scale(2);
    box-shadow: 2px 2px 20px -3px black;
}

#marq-text {
    /* height: 15vh; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1vw;
    width: 100%;
    /* margin-right: 16px; */
    /* background-color: red; */
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 5vh;
}

#marq-text h1 {
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    /* background-color: red; */
    animation: move 5s linear infinite;
    letter-spacing: 2px;
    margin-right: 16px;
    font-family: monument;
    color: transparent;
    -webkit-text-stroke: 2px black;
}

@keyframes move {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }

}

#blog {
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: center; */
}

#blog #elem1 {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    /* background-color: red; */
}

#blog #elem1 h1 {
    margin-top: 10vh;
    font-size: 40px;
    font-family: monument;
    text-transform: uppercase;
}

#blog #elem2 {
    width: 30%;
    height: 100%;
    margin-left: 3vw;
    /* background-color: blue; */

}

#blog #elem2 p {
    margin-top: 10vh;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5vh;
    text-align: justify;

}

#blog #elem2 p::before {
    content: '® ';
}

#blog #elem2 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: 30% 40%;
}

#blog #elem3 {
    width: 39%;
    height: 100%;
    margin-left: 3vw;
    margin-right: 2vw;
    /* background-color: blue; */
}

#blog #elem3 p {
    margin-top: 10vh;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5vh;
    text-align: justify;

}

#blog #elem3 p::before {
    content: '® ';
}

#blog #elem3 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: 30% 40%;
}

#footer {
    height: 35vh;
    width: 100%;
    margin-top: 8vh;
    /* background-color: red; */
    display: flex;
    /* margin-bottom: 5vh; */
}

#footer-1 {
    padding: 3vh;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;

}

#footer-1 h1 {
    font-size: 2vw;
    font-family: monument;
}

#footer-1 h2 {
    font-size: 1.5vw;
    font-weight: 600;
}

#footer-1 h1::after {
    content: "©";
    font-size: 12px;
    position: absolute;
    top: 5%;
}

#footer-2 {
    padding: 3vh;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#footer-3 {
    /* padding: 3vh; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    /* border-right: 2px solid black; */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#footer-3-part1 {
    padding: 3vh;
    width: 100%;
    height: 40%;
    display: flex;
    border-bottom: 2px solid black;
    justify-content: center;
    /* background-color: blue; */
}

#footer-3-part2 {
    padding: 3vh;
    width: 100%;
    height: 60%;
    /* background-color: red; */
    font-size: 20px;
}

#footer-3-part2 .icon {
    margin-bottom: 4vh;
}

#footer-3-part2 i {
    margin-right: 40px;
}

#footer-3-part2 .copyright h3 {
    font-size: 15px;
}

#footer-3-part2 .copyright h3::before {
    content: '© ';
}

#footer-3-part2 .copyright h4 {
    font-weight: 500;
    font-size: 15px;
}